[alias]
	st = status
[user]
	name = Cam Jackson
	email = camjackson89@gmail.com
[core]
	excludesfile = /Users/cjacks/.gitignore_global
[difftool "sourcetree"]
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[log]
	abbrevCommit = true
	decorate = true
[format]
	pretty = oneline
