[core]
	excludesfile = ~/.gitignore_global
[push]
	default = simple
	autoSetupRemote = true
[log]
	#abbrevCommit = true
	#decorate = true
[format]
	#pretty = oneline
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[pull]
	rebase = true

[includeIf "gitdir:~/code/personal/"]
	path = .gitconfig-personal

[includeIf "gitdir:~/code/bigw/"]
	path = .gitconfig-work
